---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post card">
        <div class="card-body">  
            <span class="date" style="float:right">{{ post.date|date:"%B %e, %Y" }}</span>
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="entry">
                {{ post.excerpt }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>
    </article>
  {% endfor %}
</div>

<div class="bottompagination">
    <div class="navigation" role="navigation">
      {% include pagination.html %}
    </div>
</div>
