<!DOCTYPE html>
<html>
  <head>
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="/i/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ config.base_url }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ config.extra.name }} - {{ config.extra.description }}" href="{{ config.base_url }}/rss.xml" />

    <meta property="og:site_name" content="{{ config.base_url }}">
    <meta property="og:title" content="{{ config.extra.name }}">
    <meta property="og:description" content="{{ config.extra.name }} - {{ config.extra.description }}">
    <meta property="og:url" content="{{ config.base_url }}/">
    <meta property="og:image" content="{{ config.base_url }}/avatar.jpg" />
    <meta name="description" content="{{ config.extra.name }} - {{ config.extra.description }}">
    <meta name="keywords" content="website,dcariotti,github,coding,programming">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="{{ config.base_url }}/">
    <meta property="twitter:title" content="{{ config.extra.name }}">
    <meta property="twitter:description" content="{{ config.extra.name }} - {{ config.extra.description }}">
    <meta property="twitter:image" content="{{ config.base_url }}/avatar.jpg">
  </head>

  <body>
    <div class="container row">
        <div class="col-md-4 col-12">
            <div class="wrapper-masthead">
              <div class="container">
                <header class="masthead clearfix">
                  <a href="{{ config.base_url }}/" class="site-avatar"><img src="{{ config.extra.avatar }}" /></a>

                  <div class="site-info">
                    <h1 class="site-name"><a href="{{ config.base_url }}/">{{ config.extra.name }}</a></h1>
                    <p class="site-description">{{ config.extra.description }}</p>
                  </div>

                  <nav>
                    <a href="{{ config.base_url }}/about">About</a>
                    <a href="{{ config.base_url }}/movies">Movies</a>
                  </nav>
                  <nav>
                    {% if config.extra.social_flickr %}<a href="https://www.flickr.com/photos/{{ config.extra.social_flickr }}" target="_blank"><i class="fab fa-flickr"></i></a>{% endif %}
                    {% if config.extra.social_twitter %}<a href="https://www.twitter.com/{{ config.extra.social_twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
                    {% if config.extra.social_github %}<a href="https://github.com/{{ config.extra.social_github }}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
                    {% if config.extra.social_instagram %}<a href="https://instagram.com/{{ config.extra.social_instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>{% endif %}
                    {% if config.extra.social_linkedin %}<a href="https://www.linkedin.com/in/{{ config.extra.social_linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
                    {% if config.extra.social_keybase %}<a href="https://keybase.io/{{ config.extra.social_keybase }}"><i class="fab fa-keybase"></i></a>{% endif %}
                    {% if config.generate_feed %}<a href="{{ get_url(path="rss.xml", trailing_slash=false) }}"><i class="fas fa-rss"></i></a>{% endif %}
                  </nav>
                </header>
              </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div id="main" role="main" class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <span style="display: block">built with <a href="https://www.getzola.org/" target="_blank">zola</a></span>
        </footer>
      </div>
    </div>
  </body>
</html>
